page-about {
    // Centering logo
    .card {
        img {
            width: 30%;
            height: auto;
            border-radius: 50%;
            border: 2px solid map-get($colors, S-light);
            -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        }
    }
}
