
<ion-content>
  <!-- Image card with background -->
  <div class="bg-card">
    <ion-card>
      <img src="assets/img/{{ subject.icon }}"/>
      <button ion-button color="S-dark" (click)="subscribe()">Subscribe</button>
    </ion-card>
    <!-- header od some sort -->
    <h3>
      {{ subject.name }} <small>{{ subject.grade }}</small>
    </h3>
    <hr>
  </div><!-- end bg-card -->

  <!-- Content after image-card -->
  <div class="subject-details">
    <!-- About section -->
    <ion-row>
      <ion-label style="font-weight: bolder;">About</ion-label>
      <ion-item text-wrap>
        {{subject.description}}
      </ion-item>
    </ion-row>

    <ion-list class="accordion">
      <ion-label style="font-weight: bolder;">Topics Covered</ion-label>
      <ion-item *ngFor="let topic of subject.topics; let i=index" text-wrap (click)="toggleLevel1('idx'+i)"
        [ngClass]="{active: isLevel1Shown('idx'+i)}" class="acc-handle">

        <h4>
          {{topic.topic_name}}
          <ion-icon [name]="isLevel1Shown('idx'+i) ? 'ios-arrow-up' : 'ios-arrow-down'" item-end></ion-icon>
        </h4>

        <ion-list *ngIf="isLevel1Shown('idx'+i)">
          <ion-item text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}" class="acc-panel" >
            <h4>
              {{topic.description}}
            </h4>
          </ion-item>
        </ion-list>

      </ion-item>
    </ion-list>

    <!-- Instructor section -->
    <ion-row>
      <div class="instructor_container">
        <ion-item>
          <ion-icon name="contact"></ion-icon>
          Instructors
        </ion-item>

        <ion-scroll class="ion-scroll" scrollX="true">
          <ion-row nowrap align-items-baseline>
            <div class="scroll-item" *ngFor="let instructor of subject.instructors">
              <ion-col col-12>

                <ion-card class="instructors-card">
                  <img class="instructor-image" src="assets/img/schambika.jpg"/>

                  <p>
                    {{instructor.title}} {{instructor.name}}
                  </p>
                </ion-card>

              </ion-col>
            </div>
          </ion-row>
        </ion-scroll>

      </div>
    </ion-row>

  </div>

</ion-content>
