page-lessons {
  .description-card{
    border-radius: 4% 4% 4% 4%;
    overflow: hidden;
    margin-top: -1%;
    margin-bottom: 10%;
    padding: 2%;

  }
  .title{
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 0px;
  }
}
