page-lessons {
  ion-navbar button{
    background-color: inherit;
  }
  html {
    height: 100%;
  }

  body {
    height: 100%;
    //font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  }

  code {
    //font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    margin: 0 0.1em;
    background: #1B2938;
    padding: 0 0.5em 0.2em;
  }


  p {
    margin: 0 0 1.5em 0;
  }

  // CSS for background image-card
  .bg-card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    ion-card {
      position: relative;
      align-content: center;
      button {
        position: absolute;
        top: 68%;
        left: 56%;
        transform: translate(-68%, -56%);
      }
    }
    h3 {
      font-weight: 600;
      line-height: 1.0;
      padding-left: 16px;
      padding-bottom: 4px;
      small {
        margin-left: 8px;
        font-weight: 300;
      }
    }
  }
  // End of background image-card

  // Styling for .subject-details
  .subject-details {
    padding: 8px 16px 16px 16px;
  }
  // End of .subject-details

  .accordion {
    position: relative;
  }

  .acc-handle {
    transition: all .1s ease;
    text-align: left;
  }

  .acc-handle:hover {
    color: #64b5f6;
    background: #fafafa;
  }


  .acc-handle:focus {
    color:#64b5f6;
  }

  .acc-panel * {
    transition: all 0.6s linear;
    background-color: #fafafa;
  }

  .inner-list{
    margin-left: -10%;
  }

  .instructor_container{
    position: relative;
    height: 220px;
    width: 100%;
    margin-left: -14px;
  }

  ion-scroll{
    height:100%;
    width: 100%;
    position: relative;
  }

  .ion-scroll[scrollX] {
    white-space: nowrap;
    .scroll-item {
      display: inline-list-item;
      height: 100%;
      position: relative;
      margin-left: 16px;
    }
  }

  .ios, .md {

    page-home {

      button {
        align-items: baseline;
      }

    }

  }

  .instructors-card {
    position: relative;
    margin-right: 8px;
    margin-left: 4px;
    margin-top: -10%;
    width: 180px;
    height: 100%;
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .tutor {
    margin-left: 8px;
  }

  .instructor-image{
    position: relative;
    border-radius: 1% 1% 1% 1%;
    display: block;
    max-width:100%;
    max-height:190px;
    width: 100%;
    height: auto;
  }

  .description-card{
    position: relative;
    border-radius: 2% 2% 2% 2%;
    overflow: hidden;
    margin-top: -1%;
    margin-bottom: 10%;
    padding: 2%;
  }

  .title{
    position: relative;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .accordion {
    position: relative;
    width: 100%;
  }
  input[type='checkbox'], input[type='radio'] {
    display: none;
  }
  .element {
    margin-bottom: 2px;
  }
  .header {
    background: inherit;
    padding: 10px;
    border-bottom: 0;
    display: block;
    position: relative;
    cursor: pointer;
  }

  .header:after {
    border: 6px solid transparent;
    position: absolute;
    content: "";
    border-top-color: #000;
    right: 10px;
    top: calc(50% - 3px);
  }

  input[type="checkbox"]:checked ~ .header, input[type="radio"]:checked ~ .header {
    background: #bdbdbd;
    color: #FFF;
    border-color: #000;
  }
  input[type="checkbox"]:checked ~ .header:after,
  input[type="radio"]:checked ~ .header:after {
    border-top-color: transparent;
    border-bottom-color: #FFF;
    top: calc(50% - 8px);
  }
  input[type="checkbox"]:checked ~ .content, input[type="radio"]:checked ~ .content {
    max-height: 200px;
    margin-top: 0px;
    opacity: 1;
    padding: 10px;
    transition: max-height 0.5s linear, opacity 1s  0.25s linear;
    overflow-y: auto;
  }

  input[type="checkbox"] ~ .content, input[type="radio"] ~ .content {
    max-height: 0px;
    opacity: 0;
    transition: max-height 0.5s linear;
    overflow-y: auto;
    border: 1px solid inherit;
  }

}
