page-lessons {
  ion-navbar button{
    background-color: inherit;
  }
  ion-buttons ion-icon {
    font-size: 200%;
    //color: #0a0a0a;
    //background-color: black;
    border: none;
    box-shadow: none;
    margin-right: 15px;
  }
  .description-card{
    border-radius: 4% 4% 4% 4%;
    overflow: hidden;
    margin-top: -1%;
    margin-bottom: 10%;
    padding: 2%;

  }
  .title{
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 0px;
  }
}
