
<ion-content>

  <!--<ion-item-group>-->
    <!--<ion-item>Contents</ion-item>-->
  <!--</ion-item-group>-->

  <ion-row>
    <div class="overviewCards">

      <ion-card class="description-card">
        <ion-card-header>
          <div class="title">Subject overview</div>
        </ion-card-header>
          <ion-card-content>

            <ion-list>
                <p>{{subject.description}}</p>
              <ion-item *ngFor="let topic of subject.topics; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
                  <h4>
                  <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                  </h4>
                <ion-list  *ngIf="isLevel1Shown('idx'+i)" class="inner-list">
                  <div  style="background-color: white;">
                    <ion-card-header>
                      <div class="title">{{topic.duration}}: {{topic.topic_name}}</div>
                    </ion-card-header>
                    <p>{{topic.description}}</p>
                    <ion-icon name="pricetags"></ion-icon>
                    <div class="title">Subscription</div>
                    <!--Chemistry is the study of matter, its properties, how and why substances combine or separate to form other substances, and how substances interact with energy-->
                    <p>To view all subject material, kindly purchase a subscription
                      bundle from your nearest Kazang seller and ask for etutor coupons</p>
                  </div>
                </ion-list>

              </ion-item>
            </ion-list>

        </ion-card-content>
      </ion-card>


      <ion-item>
        <ion-icon name="contact"></ion-icon>
        Instructors
      </ion-item>

      <ion-scroll class="ion-scroll" scrollX="true">
        <ion-row nowrap align-items-baseline>
          <div class="scroll-item" *ngFor="let instructor of subject.instructors">
            <ion-col col-12>

              <ion-card class="instructors-card">
                <img class="instructor-image" src="assets/img/martin.jpg"/>

                <p>
                  {{instructor.title}} {{instructor.name}}
                </p>

              </ion-card>
            </ion-col>
          </div>
        </ion-row>

      </ion-scroll>


    </div>

  </ion-row>

</ion-content>
