<!--
  Generated template for the SubscriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissModal()" class="my-style-for-modal">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Subscription for</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="theForm" (ngSubmit)="subscribeUser()" novalidate>
    <ion-item>
      <ion-label style="color: #488aff" stacked>Subject</ion-label>
      <ion-select type="text" formControlName="subjectId" multiple="false">
        <ion-option value="{{subject._id}}">{{subject.name}}</ion-option>
      </ion-select >
    </ion-item>
    <ion-item *ngIf="!theForm.controls.subjectId.valid && (theForm.controls.subjectId.dirty || submitAcepted)" >
      <p class="error">Please select a subject.</p>
    </ion-item>

    <ion-item>
      <ion-label style="color: #488aff" floating>Enter coupon code</ion-label>
      <ion-input type="text" formControlName="couponKey" required></ion-input>
      </ion-item>
      <ion-item *ngIf="!theForm.controls.couponKey.valid && (theForm.controls.couponKey.dirty || submitAcepted)" >
        <p class="error">Please enter the coupon code here.</p>
      </ion-item>
      <ion-input type="hidden" value="{{user.email}}" formControlName="userEmail" ngModal></ion-input>
    <button ion-button block>Subscribe</button>

  </form>
</ion-content>
