page-home {
  ion-navbar button{
    background-color: inherit;
  }
  ion-buttons ion-icon {
    font-size: 200%;
    color: #0a0a0a;
    background-color: white;
    border: none;
    box-shadow: none;
  }
  .page-title{
    color: #00a4d3;
  }

  //css for the ads on top page
 //css for the ads on top page
 .ads {
    height: 100%;
    position: relative;
    text-align: center;
    margin-left: 0px;
    img{
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.11);
    }
  }

  // main content area styling
  .category-title {
    margin-left: 4px; 
    margin-bottom: 8px;
  }

.card {
  margin-right: 8px;
  min-width: 180px;
  height: 230px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  & img {
    min-height: 180px;
    width: 100%;
  }
  ion-card-content {
    background-color: map-get($colors, light);
    padding: 8px;
  }
  ion-card-title {
    font-family: roboto;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

}
