<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-title class="page-title">E-Tutor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-scroll scrollX style="height:200px;">
  <div class="ads">

    <ion-slides autoplay="3000" loop="true" speed="300">
      <div class="scroll-item ad">
        <ion-slide>
      <img src="../../assets/../../assets/img/iphone 7 win.jpg">
    <div class="card-title">Win A Galaxy s8</div>
    <div class="card-subtitle">Stand a chance to win by finishing one of our subjects</div>
    </ion-slide>
    </div>

    <ion-slide>
    <div class="scroll-item ad">
        <img src="../../assets/../../assets/img/hp-spectre-x360-photo-2.jpg">
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
      </div>
    </ion-slide>

    <ion-slide>
    <div class="scroll-item ad">
      <img src="../../assets/../../assets/img/HP-Spectre-x360-13-4005TU_2.JPG">
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </div>
    </ion-slide>
    </ion-slides>
  </div>

</ion-scroll>

<div class="categories">

  <!--<div class="category-title">-->
    <!--A-Levels <div class="category-subtitle">4 subjects</div>-->
  <!--</div>-->

  <!--<ion-scroll scrollX="true" style="height:200px;">-->
    <!--<ion-row nowrap align-items-baseline>-->
    <!--<div class="scroll-item" *ngFor="let subject of subjects | category :'category' : 'A-Levels' ">-->
        <!--<ion-col col-12>-->

          <!--<ion-card (click)="courseDetail(subject)">-->
            <!--<img src="../../assets/../../assets/img/{{subject.icon}}"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>{{subject.name}}</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
    <!--</div>-->

      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card>-->
            <!--<img src="../../assets/../../assets/img/1449041701-hd-biology-widescreen.jpg"/>-->
            <!--<ion-card-content>-->

              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Biology</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->

      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card>-->
            <!--<img src="../../assets/img/mathematics.jpg"/>-->
            <!--<ion-card-content>-->

              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Mathematics</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->

    <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
      <!--<ion-card>-->
        <!--<img src="../../assets/img/physics.jpg"/>-->
        <!--<ion-card-content>-->
          <!--<ion-row>-->
            <!--<ion-col>-->
              <!--<button class="card-title" ion-button icon-left clear small>-->
                <!--<ion-icon name="open"></ion-icon>-->
                <!--<div>Physics</div>-->
              <!--</button>-->
            <!--</ion-col>-->
          <!--</ion-row>-->
        <!--</ion-card-content>-->
      <!--</ion-card>-->
        <!--</ion-col>-->
    <!--</div>-->

      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card>-->
            <!--<img src="../../assets/img/programming.jpg"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Programming</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->
    <!--</ion-row>-->
  <!--</ion-scroll>-->

  <!--<div class="category-title">-->
    <!--Junior/Senior Secondary <div class="category-subtitle">5 subjects</div>-->
  <!--</div>-->

  <!--<ion-scroll scrollX="true" style="height:200px;">-->
    <!--<ion-row nowrap align-items-baseline>-->
      <!--<div class="scroll-item" *ngFor="let subject of subjects  | category :'category' : 'Junior/Senior Secondary'">-->
        <!--<ion-col col-12>-->

          <!--<ion-card (click)="grade(subjects, subject.grade)">-->
            <!--<img src="../../assets/img/{{subject.icon}}"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Grade {{subject.grade}}</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->
    <!--</ion-row>-->
  <!--</ion-scroll>-->

  <!--<ion-scroll scrollX="true" style="height:200px;">-->
    <!--<ion-row nowrap align-items-baseline >-->
      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card (click)="grade()">-->
            <!--<img src="../../assets/img/chemist.jpg"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Grade 8</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->
      <!--</ion-row>-->

      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card>-->
            <!--<img src="../../assets/img/g8.gif"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Grade 9</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->

      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card>-->
            <!--<img src="../../assets/img/Geography-Banner.jpg"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Grade 10</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->

      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card>-->
            <!--<img src="../../assets/img/physics.jpg"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Grade 11</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->

      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card>-->
            <!--<img src="../../assets/../../assets/img/mathematics (1).jpg"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Grade 12</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->
    <!--</ion-row>-->


  <div class="category-title">
    Tests & Exams Revision <div class="category-subtitle">1 Category</div>
  </div>
  <ion-scroll scrollX="true" style="height:200px;">
      <ion-row nowrap align-items-baseline>
        <div class="scroll-item" *ngFor="let subject of subjects  | category :'category' : 'Tests & Exams Revision'">
          <ion-col col-12>

            <ion-card (click)="courseDetail(subject)">
              <img src="../../assets/../../assets/img/{{subject.icon}}"/>
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <button class="card-title" ion-button icon-left clear small>
                      <ion-icon name="open"></ion-icon>
                      <div>{{subject.grade}}</div>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </div>
      </ion-row>

      <!--<div class="scroll-item">-->
        <!--<ion-col col-12>-->
          <!--<ion-card (click)="jnrSecExams()">-->
            <!--<img src="../../assets/../../assets/img/shutterstock_127915121.jpg"/>-->
            <!--<ion-card-content>-->
              <!--<ion-row>-->
                <!--<ion-col>-->
                  <!--<button class="card-title" ion-button icon-left clear small>-->
                    <!--<ion-icon name="open"></ion-icon>-->
                    <!--<div>Junior/Senior Secondary</div>-->
                  <!--</button>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</div>-->

    <!--</ion-row>-->
  </ion-scroll>

  </div>

</ion-content>
