<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>

    <ion-title class="page-title">eTutor</ion-title>

    <ion-buttons id="searchToggle" end>
      <button (click)="presentModal()">
        <ion-icon id="searchIcon" md="md-search" ios="ios-search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingColor="appColor"></ion-refresher-content>
  </ion-refresher>

  <!-- ./Ad scroll -->
  <ion-scroll scrollX style="height:200px;">
    <div class="ads">

      <ion-slides autoplay="5000" loop="true" speed="400">

        <ion-slide>
          <div class="scroll-item ad">
            <img src="assets/img/scrowimage01.jpg">
          </div>
        </ion-slide>

        <ion-slide>
          <div class="scroll-item ad">
            <img src="assets/img/scrowimage02.jpg">
          </div>
        </ion-slide>

        <ion-slide>
          <div class="scroll-item ad">
              <img src="assets/img/scrowimage03.jpg">
          </div>
        </ion-slide>
        <ion-slide>
            <div class="scroll-item ad">
              <img src="assets/img/scrowimage04.jpg">
            </div>
          </ion-slide>
      </ion-slides>
    </div>

  </ion-scroll> <!-- ./ad scroll -->

  <div class="centered" *ngIf="noFavs">

    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading subjects...</p>

  </div>

  <div class="categories" *ngIf="!noFavs">

  <h4 class="category-title">Exam Revision</h4>
  <!-- grid -->
  <ion-scroll class="ion-scroll" scrollX="true">
    <ion-row nowrap align-items-baseline>
      <div class="scroll-item" *ngFor="let subject of subjects  | category :'category' : 'Tests & Exams'">
        <ion-col col-12>

          <ion-card class="categories-card" (click)="courseDetail(subject)">

            <ion-item class="card-title-row">
              <!-- <ion-icon class="card-title-icon" item-start name="book"></ion-icon> -->
              <div class="card-title">{{subject.name}}</div>
              <!--<p>November 5, 1955</p>-->
            </ion-item>

            <img class="card-image" src="assets/img/{{subject.icon}}"/>

            <ion-row class="card-subtitle-row">
              <ion-col>
                <h2 class="card-subtitle-text">{{subject.grade}}</h2>
              </ion-col>
              <ion-col>
                <button class="card-subtitle-button" ion-button icon-left clear small>
                  <ion-icon name="paper-plane"></ion-icon>
                  <div>Open</div>
                </button>
              </ion-col>
            </ion-row>

          </ion-card>
        </ion-col>
      </div>
    </ion-row>

  </ion-scroll>

    <h4 class="category-title">Secondary Level</h4>
    <!-- grid -->
    <ion-scroll class="ion-scroll" scrollX="true">
      <ion-row nowrap align-items-baseline>
        <div class="scroll-item" *ngFor="let subject of subjects  | category :'category' : 'Secondary Level'">
          <ion-col col-12>

            <ion-card class="categories-card" (click)="courseDetail(subject)">

              <ion-item class="card-title-row">
                <ion-icon class="card-title-icon" item-start name="book"></ion-icon>
                <div class="card-title">{{subject.name}}</div>
                <!--<p>November 5, 1955</p>-->
              </ion-item>

              <img class="card-image" src="assets/img/{{subject.icon}}"/>

              <ion-row class="card-subtitle-row">
                <ion-col>
                  <h2 class="card-subtitle-text">{{subject.grade}}</h2>
                </ion-col>
                <ion-col>
                  <button class="card-subtitle-button" ion-button icon-left clear small>
                    <ion-icon name="paper-plane"></ion-icon>
                    <div>Open</div>
                  </button>
                </ion-col>
              </ion-row>

            </ion-card>
          </ion-col>
        </div>
      </ion-row>

    </ion-scroll>

  </div>

</ion-content>
