page-videos {
  ion-navbar button{
    background-color: inherit;
  }
  // Card styling
  ion-card {
    width: 100%;
  }
  
  ion-buttons ion-icon {
    font-size: 200%;
    //color: #0a0a0a;
    //background-color: black;
    border: none;
    box-shadow: none;
    margin-right: 15px;
  }

  details{
    margin-left: 10px;
    display: flow;
    font-size: 16px;
  }

  details list{
    background-color: blue;
  }
.body-content{
  position: relative;
  align-content: stretch;
  margin-top: -4%;
}

  ion-item-group{
    margin-right: -40%;
    margin-left: -5%;
  }
}
