page-a-level-exams {

  .page-title{
    color: #00a4d3;
  }

  .card-background-page {

    ion-scroll[scrollX] {
      white-space: nowrap;
      .scroll-item {
        display: inline-block;
      }
    }

    //categories css
      .category-title{
        margin-top: 20px;
        margin-bottom: -23px;
        color: lightslategrey;
        font-size: 1.2em;
        //left: -5%;
        font-weight: bolder;
        margin-left: 9px;

        .category-subtitle{
          position: relative;
          font-size: 0.7em;
          //left: -5%;
          color: #00a4d3;
        }
      }

      img{
        //height: 130px;
        //width: 100%;
        //size: 200px;
        //position: relative;
      }

      ion-card {
        //position: relative;
        text-align: center;
        //margin-bottom: 2px;
        //margin-left: 0px;
        //width: 200px;
        //height: 170px;
      }

      //ion-card.img{
      //  height: 80%;
      //}

      .card-title {
        position: relative;
        //text-align: left;
        top: -15%;
        left: -28px;
        font-size: 1.5em;
        text-transform: capitalize;
        //width: 100%;
        //font-weight: bold;
        color: lightslategrey;
        //margin-left: -50%;
        //padding-left: -100px;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #00a4d3;
      }

  }


}
