page-course-detail {

  .card-background-page{
    //background-color: #f7f6f6;
  }
  ion-navbar button{
    background-color: inherit;
  }
  ion-buttons ion-icon {
    font-size: 180%;
    //color: #0a0a0a;
    //background-color: black;
    border: none;
    box-shadow: none;
    margin-right: 15px;
  }

}
