<!--
  Generated template for the CourseDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{subject.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="content">
  <ion-row class="img">
    <ion-col col-12>
      <ion-img src="../../assets/img/{{subject.icon}}"></ion-img>
    </ion-col>
  </ion-row>
    <ion-row>
      <div class="btn-instructor">
    <ion-col col-5>
  <button class="resume-btn" (click)="goToSignInPage(subject)" ion-button icon-left clear>
    <div>Enroll</div>
  </button>
    </ion-col>
      <ion-col col-1>
        <div class="instructor" ion-button icon-left clear small>
          <ion-icon name="md-contact" style="zoom: 2.5;"></ion-icon>
          <div class="instructorName" *ngFor="let instructor of subject.instructors">Instructor<br>
               {{instructor.title}} {{instructor.f_name}} {{instructor.l_name}}
          </div>
        </div>
      </ion-col>
      </div>

      <div class="overviewCards">
      <ion-card class="description-card">
        <ion-card-header>
          <div class="title">Subject overview</div>
        </ion-card-header>
        <ion-card-content>
          <!--Chemistry is the study of matter, its properties, how and why substances combine or separate to form other substances, and how substances interact with energy-->
          {{subject.description}}
        </ion-card-content>
      </ion-card>

        <div *ngFor="let topic of subject.topics" >
        <ion-card class="description-card">
          <ion-card-header>
            <div class="title">{{topic.duration}}: {{topic.topic_name}}</div>
          </ion-card-header>
          <ion-card-content >
            <div class="subtitle"> </div>
            {{topic.description}}
          </ion-card-content>

          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small item-left>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 Likes</div>
              </button>
              <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>4 Reviews</div>
              </button>
              <button ion-button icon-left clear item-end (click)="openLessons(topic, subject)" item-right>
                <ion-icon name="paper-plane"></ion-icon>
                Start
              </button>
            </ion-col>
          </ion-row>

        </ion-card>
        </div>

      </div>

  </ion-row>
  </div>
</ion-content>
