page-login {

  .card {
    img {
      width: 30%;
      height: auto;
      border-radius: 50%;
      border: 2px solid map-get($colors, S-light);
      -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    }
  }

  .app-name{
    color: grey;
    padding-bottom: 20px;
    font-size: large;
  }
  .div-center{
    align-items: center;
    text-align: center;
  }
  .btn-down{
    padding-bottom: 25px;
    align-items: center;
    text-align: center;
  }
  log-font{
    font-size: 1.5rem;
  }
  .social-icon{
    font-size: 35px;
  }

   // error message font
   .error {
    color: red;
    font-size: 1rem;
  }

  // warning toaster css
  .warning {
    background-color: orange;
    color: white;
  }

}
