/* Houses the CSS for the coupon related html pages */
.login-card {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3), 0 14px 12px 0 rgba(0, 0, 0, 0.17);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form-signin {
    width: 100%;
    max-width: 730px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
}

.form-signin .form-control:focus {
    z-index: 2;
}
