page-comments {
  ion-navbar button{
    background-color: inherit;
  }
  ion-buttons ion-icon {
    font-size: 200%;
    border: none;
    box-shadow: none;
    margin-right: 15px;
  }
  .body-content{
    height: 100%;
    width: 100%;
  }

  .message-card{
    margin-top: -1%;
    margin-bottom: 10%;
    padding: 2%;
    border-radius: 4% 4% 4% 4%;
    overflow: hidden;

  }
  ion-icon {
    font-size: 170%;
  }

  .title{
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 0px;
  }

  .message{
    border-bottom: 2px solid #f7f6f6;
  }

  .delete_button{
    overflow: auto;
    text-align: center;
    text-decoration: none;
    float: left;
    padding-left: 5%;
  }
  .reaction_buttons{
    margin-left: 60%;
    overflow: auto;
    text-align: center;
    text-decoration: none;
  }

  .addComment{
    position: fixed;
    margin-top:  -3%;
    align-content: center;
    width: 100%;
    z-index: 50;
    font-size: 100%;
  }

  .addComment button{
    width: 100%;
    background-color: white;
    margin-left: -4%;
    margin-right: -20%;
    border-top: 2px solid #f7f6f6;
  }

  .addComment ion-icon{
    font-size: 200%;
  }
}
