page-discussion-forum {
  ion-navbar button{
    background-color: white;
  }
  ion-buttons ion-icon {
    font-size: 300%;
    color: #0a0a0a;
    background-color: white;
    border: none;
    box-shadow: none;
  }
}
