page-discussion-forum {
  // Forum specific styling
  p {
    text-align: center;
    margin-bottom: 16px; 
  }

  // topic list styling
  ion-list {
    ion-item {
      height: 40px;
      text-align: center;
      & .label {
        font-weight: 500;
      }
      ion-icon {
        font-weight: 400;
        padding-left: 1.0em;
      }
    }
  }

}
