page-discussion-forum {
  ion-navbar button{
    background-color: white;
  }
  ion-buttons ion-icon {
    font-size: 300%;
    color: #0a0a0a;
    background-color: white;
    border: none;
    box-shadow: none;
  }
.body-content{
  height: 100%;
  width: 100%;
  //margin: -8% -30% -90% -6%;
  //background-color: #f7f6f6;
}

  .message-card{
    margin-top: -1%;
    margin-bottom: 10%;
    padding: 2%;
    border-radius: 4% 4% 4% 4%;
    overflow: hidden;

  }
ion-icon {
  font-size: 170%;
}

  .title{
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 0px;
  }

  .message{
    border-bottom: 2px solid #f7f6f6;
  }

  .buttons{
    overflow: auto;
    //display: inline-block;
    text-align: center;
    //padding: 20%;
    text-decoration: none;
    margin-left: 62%;
  }

  .addComment{
    position: fixed;
    margin-top:  -3%;
    align-content: center;
    width: 100%;
    //margin-left: 32%;
    //margin-right: 20%;
    z-index: 50;
    font-size: 100%;
  }

  .addComment button{
    width: 100%;
    background-color: white;
    margin-left: -4%;
    margin-right: -20%;
    //margin-bottom: 80%;
    border-top: 2px solid #f7f6f6;
  }
  .addComment p{
    //position: absolute;
    //margin-left: -200%;
  }

  .addComment ion-icon{
    font-size: 200%;
  }
}
