<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <!-- App logo setting -->
  <div class="card" style="text-align: center">
    <img src="assets/img/logohdpi.png" alt="logo"/>
    <div class="app-name">
      <b>eTutor</b>
    </div>
  </div>
  <div class="list card">
    <div class="item item-body">
      <!--<ion-content>-->
      <form [formGroup]="theForm" (ngSubmit)="signIn()" novalidate>
        <ion-list>

          <ion-item>
            <ion-label style="color: #488aff" stacked>Full name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item *ngIf="!theForm.controls.name.valid && (theForm.controls.name.dirty || submitAcepted)" >
            <p class="error">Please enter a valid name.</p>
          </ion-item>

          <ion-item>
            <ion-label style="color: #488aff" stacked>Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>

          <ion-item *ngIf="!theForm.controls.username.valid && (theForm.controls.username.dirty || theForm.controls.username.touched)" >
            <p class="error">Please enter a valid username.</p>
          </ion-item>

          <ion-item>
            <ion-label style="color: #488aff" stacked>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item *ngIf="!theForm.controls.email.valid && (theForm.controls.email.dirty || submitAcepted)" >
            <p class="error">Please enter a valid email address (john@doe.com)</p>
          </ion-item>

          <ion-item>
            <ion-label style="color: #488aff" stacked>Phone</ion-label>
            <ion-input type="tel" formControlName="phone" placeholder="Enter phone number, eg 0973676327"></ion-input>
          </ion-item>

          <ion-item *ngIf="!theForm.controls.phone.valid && (theForm.controls.phone.dirty || theForm.controls.phone.touched)" >
            <p class="error">Phone field is required.</p>
          </ion-item>

          <ion-item>
            <ion-label style="color: #488aff" stacked>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item *ngIf="!theForm.controls.password.valid && (theForm.controls.password.dirty || submitAcepted)" >
            <p class="error">Password should be 6 or more characters.</p>
          </ion-item>

          <ion-item>
            <ion-label style="color: #488aff" stacked>Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirmPswd"></ion-input>
          </ion-item>

          <ion-item *ngIf="!theForm.controls.confirmPswd.valid && (theForm.controls.confirmPswd.dirty || submitAcepted)" >
            <p class="error">Password mismatch.</p>
          </ion-item>

        </ion-list>

        <div padding>
          <button ion-button color="primary" type="submit" block text-capitalize>Sign Up</button>
        </div>
      </form>

      <!--</ion-content>-->

      <div class="card btn-down" >
        <button ion-button clear text-capitalize>Or Sign In</button>
      </div>
    </div>
  </div>
</ion-content>
