<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="sideMenu">

    <ion-item class="profile-image">
      <!-- shows if not logged in -->
      <div *ngIf="!username">
        <img src="assets/img/logohdpi.png" alt="logo"/>
        <p>eTutor</p>
      </div>
      <!-- shows if logged in -->
      <div *ngIf="username">
        <img src="assets/img/unza.jpg" alt="background image"/>
        <p>{{username}}</p>
      </div>
    </ion-item>

    <!-- list of menu buttons -->
    <ion-list class="side-menu-item" no-lines>
      <button menuClose ion-item icon-left *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon ios="ios-{{p.leftIcon}}" md="md-{{p.leftIcon}}"></ion-icon>
        {{p.title}}
      </button>
      <!-- used as a spacer -->
      <ion-item></ion-item>
      <!-- sign out button -->
      <div *ngIf="username">
        <button (click)="logout()" menuClose ion-item icon-left [class.activeHighlight]="checkActive(p)">
          <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
          Sign out
        </button>
      </div>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
