// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/**** sidemenu styling ****/
$SIDEMENU_TRANSPARENCY: rgba(187, 184, 184, 0.582);
// color for the sidemenu
.sideMenu {
  p {
    color: #000000;
    font-weight: 600;
  }
  background: map-get($colors, light);
  opacity: 0.6;
}

.side-menu-item {
  font-family: roboto;
  font-weight: 600;
  background:none;
  border:0px;
  .item {
    background: none;
    color: black;
    font-size: 14px;
    font-weight: inherit;
    &.activeHighlight{
      color: map-get($colors, S-dark);
      background: $SIDEMENU_TRANSPARENCY;
    }
  }
  &.activeHighlight{
    .item-md{
      color: map-get($colors, S-dark);
      background: $SIDEMENU_TRANSPARENCY;
    }
  }
  button ion-icon {
    padding-right: 0.9em;
  }
}
// shows currently selected page
.activeHighlight {
  color: map-get($colors, S-dark);
  background: $SIDEMENU_TRANSPARENCY;
}

// styling for profile image
.profile-image {
  background: none;
  text-align: center;
  padding: 20px;
  img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: 2px solid map-get($colors, appColor);
    -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
  }
}
/**** ./sidemenu style ****/
